@import "~@angular/material/theming";
@import '~src/variables';
@include mat-core();

$dashboard-primary: mat-palette($mat-indigo);
$dashboard-accent: mat-palette($mat-blue-gray, 500);
$dashboard-warn: mat-palette($mat-red);

$dashboard-theme: mat-light-theme(
  (
    color: (
      primary: $dashboard-primary,
      accent: $dashboard-accent,
      warn: $dashboard-warn,
    ),
  )
);

.primary {
  color: mat-color($dashboard-primary) !important;
}

.mat-sidenav {
  background-color: mat-color(mat-palette($mat-grey, 100)) !important;
}

.activo {
  background-color: mat-color(mat-palette($mat-grey, 300)) !important;
}

mat-sidenav {
  width: $sidenav-height;
  border: none !important;
  min-height: 100%;
}

mat-sidenav-content {
  min-height: 100%;
  background-color: whitesmoke;
  // background-color: rgb(247, 247, 249) !important;
  padding: 2.25rem 2.25rem 0.75rem;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  height: $toolbar-height !important;
}

@include angular-material-theme($dashboard-theme);

